[submodule "cdevents-specs/spec-v0.3"]
	path = cdevents-specs/spec-v0.3
	url = https://github.com/cdevents/spec.git
	branch = spec-v0.3
[submodule "cdevents-specs/main"]
	path = cdevents-specs/main
	url = https://github.com/cdevents/spec.git
