name: ci

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

env:
  # configure sccache to cache the build artifacts (on github caches)
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    env:
      CARGO_TERM_COLOR: always
      RUST_BACKTRACE: full
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: "true"
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: jdx/mise-action@v3
        with:
          # version 2025.5.11, a symlink is created for rust setup
          # without cache, missing components are installed
          # with cache, nothing is installed, but as rust tool is symlinked, it is not cached => missing components failure
          cache: false
          cache_save: false
          experimental: true
      - run: mise run ci
        shell: bash
